:root {
    --bkco: teal;
    
}

.customNav {
    position: fixed;
    width: 100%;
    background-color: var(--bkco);
    z-index: 10;
}

.customNav a {
    color: floralwhite !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.navbar-brand img {
    padding-right: 15px;
    width: 100px;
}

.nav-item {
    margin: 0px 15px;
    text-decoration: none;    
}

